table {
    width: 100%;
}

table tr td {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table th:hover {
cursor: pointer;
background-color: burlywood;
}

/* .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    margin: 8px;
    padding: 3px;
    float: right;
    
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } */