.main-content {
   display: flex;
   justify-content: space-around;
}

.main-content a {
    margin-left: 16px;
    text-decoration: none;
}

.main-content a:hover{
cursor: pointer;
background-color: cyan;
color: white;
}

.box {
    height: 200px;
    width: 200px;
    border: red solid 2px;
    background-color: antiquewhite;
}